{{>menu-down-admin}}
<div class="all-content-wrapper">
    {{>logo-header-main}}
<div class="header-advance-area">
    {{>header-top}} {{>search-header}}
</div>
<form action="/trang-quan-li/sach/hand-form-action" name="container-form" method="POST">
    <div class="product-status mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap">
                        <h4>Thùng rác ({{deleteCount}})</h4>
                        <div class="add-product">
                            <a href="/trang-quan-li/sach/them-moi">Add Product</a>
                        </div>
                        <div style="display: flex; align-items: center;" class="d-flex">
                            <input type="checkbox" id="checkbox-all" />
                            <label class="form-check-label" style="text-align: center; margin: 0 20px 0 20px; padding-top: 5px;" for="checkbox-all">Chọn tất cả</label>
                            <select class="form-select" aria-label="Default select example" name="action" required>
                                <option value="">-- Chọn chức năng --</option>
                                <option value="deletedForce">Xóa vĩnh viễn</option>
                                <option value="restored">Khôi phục</option>
                            </select>
                            <button id="checkbox-all-submit-btn" class="btn btn-primary disabled" style="margin-left: 20px;">Thực hiện</button>
                        </div>

                        <table>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Hình ảnh</th>
                                <th>Tên sách</th>
                                <th>Trạng thái</th>
                                <th>Số lượng bán</th>
                                <th>Thời gian xóa</th>
                                <th>Số lượng tồn</th>
                                <th>Giá</th>
                                <th>Chức năng</th>
                            </tr>
                            {{#each books}}
                            <tr>
                                <td>
                                    <input type="checkbox" class="form-check-input" name="checkboxItem[]" value="{{this._id}}" />
                                </td>

                                <td><img src="/assets/img/product/{{this.image}}" alt="" /></td>

                                <td></td>
                                <td>{{this.name}}</td>
                                <td>
                                    {{#if this.status}}
                                    <button class="pd-setting">Active</button>
                                    {{else}}
                                    <button class="ds-setting">Disabled</button>
                                    {{/if}}
                                </td>
                                <td>{{this.quantitySell}}</td>
                                <td>{{this.deletedAt}}</td>
                                <td>{{this.quantityStock}}</td>
                                <td>{{this.price}} VNĐ</td>
                                <td>
                                    <a href="#" data-toggle="tooltip" id="btn-restored" data-id="{{this._id}}" class="pd-setting-ed">Khôi phục</a>
                                    <a href="#" class="btn btn-primary btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-book-modal">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            {{else}}
                            <tr>
                                <td colspan="10" style="text-align: center;">
                                    <h1>Không có cuốn sách nào trong thùng rác cả</h1>
                                    <a href="/trang-quan-li/me/cua-hang/sach">Trang chủ</a>
                                </td>
                            </tr>
                            {{/each}}
                        </table>
                        <div class="custom-pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{{!-- form delete --}}
<form name="delete-book-form" method="POST"></form>
<form name="restored-book-form" method="POST"></form>
{{!-- Model delete --}}

<div class="modal" id="delete-book-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa vĩnh viễn ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa vĩnh viễn cuốn sách này không ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở lại</button>
                <button type="button" id="delete-book-btn" class="btn btn-primary">Xóa vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var bookId;
        var deleteBookModal = document.getElementById("delete-book-modal");
        var formDelete = document.forms["delete-book-form"];
        var deleteBookBtn = document.getElementById("delete-book-btn");
        // Checkbox
        var checkboxAll = $("#checkbox-all");
        var checkboxBookItem = $('input[name="checkboxItem[]"]');
        var btnSubmitCheckboxAll = $("#checkbox-all-submit-btn");
        var containerForm = document.forms["container-form"];
        // restored
        var restoredBtn = $("#btn-restored");
        var restoredForm = document.forms["restored-book-form"];

        $("#delete-book-modal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            bookId = button.data("id"); // Extract info from data-* attributes
        });

        deleteBookBtn.onclick = function () {
            formDelete.action = "/trang-quan-li/sach/" + bookId + "/force?_method=DELETE";
            formDelete.submit();
        };

        restoredBtn.click(function (e) {
            e.preventDefault();
            var bookId = $(this).data("id");
            restoredForm.action = "/trang-quan-li/sach/" + bookId + "/restored?_method=PATCH";
            restoredForm.submit();
        });

        //Change checkbox-all
        checkboxAll.change(function () {
            var isCheckboxAll = $(this).prop("checked");
            checkboxBookItem.prop("checked", isCheckboxAll);
            reRenderButtonSubmitCheckboxAll();
        });
        // change checkbox item
        checkboxBookItem.change(function () {
            var isCheckItem = checkboxBookItem.length === $('input[name="checkboxItem[]"]:checked').length;
            checkboxAll.prop("checked", isCheckItem);
            reRenderButtonSubmitCheckboxAll();
        });

        function reRenderButtonSubmitCheckboxAll() {
            var checkboxCount = $('input[name="checkboxItem[]"]:checked').length;
            if (checkboxCount > 0) {
                btnSubmitCheckboxAll.removeClass("disabled");
            } else {
                btnSubmitCheckboxAll.addClass("disabled");
            }
        }

        // changed default event submit
        //containerForm.on("submit", function (e) {
        //    var valid = btnSubmitCheckboxAll.hasClass("disabled");
        //    if (valid) {
        //       e.preventDefault();
        //   }
        // });
    });
</script>
